<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanlogicAI</title>
    <base href="~/" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /*@>
    @*<link rel="stylesheet" href="https//cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css" />
    <script type="text/javascript" href="https//cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.js"></script>*@
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>



