
<div class="line-title"><span>Income</span><hr /></div>
<app-cashflow-income></app-cashflow-income>
<div class="line-title"><span>Expenditure</span><hr /></div>
<app-cashflow-expenditure></app-cashflow-expenditure>
<div class="line-title"><span>Assets</span><hr /></div>
<app-assets></app-assets>
<div class="line-title"><span>Liabilities</span><hr /></div>
<app-liability></app-liability>
<hr />
<div style="float:right">
    <a (click)="onPrevious()" class="previous">&laquo; Previous</a>
    <a (click)="onNext()" class="next">Next &raquo;</a>

</div>
