
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

    a:hover {
        background-color: #ddd;
        color: black;
        cursor: pointer;
    }

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    line-height: 1 !important;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}


table {
    overflow: hidden;
}

tr:hover {
    background-color: #f8fcff;
}

td, th {
    position: relative;
}

    td:hover::after,
    th:hover::after {
        content: "";
        position: absolute;
        background-color: #f8fcff;
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
    }

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
}